*{
	margin: 0; padding: 0;
	box-sizing: border-box;
} 

body{
	width:100% ;
	height:100% ;
	font-family: tahoma;
}

.chutieude{
	font-size: 30px;
	color: #3d0e0a;
	border-bottom: 2px solid #3d0e0a;
	padding-top: 70px;
}

.khoibreadcrumb{
	padding-top: 20px;
	padding-bottom: 40px;
}

.bc1{
	border-left: 5px solid #3d0e0a !important;
	border-radius: 0px;
}



/*css cho khối breadcrumb*/

.btn-xam{
	color: #3d0e0a;
	background-color: #eaebeb;
	
}

.btn-xam:hover{
	color: #c7a17a;
}

.btn-xamdam:hover{
	color: #fcf8e6;
}

.btn-breadcrumb .btn.btn-xam:not(:last-child):after {
  border-left: 10px solid #eaebeb;
}
.btn-breadcrumb .btn.btn-xam:not(:last-child):before {
  /*border-left: 10px solid #46b8da;*/
}
.btn-breadcrumb .btn.btn-xam:hover:not(:last-child):after {
  border-left: 10px solid #eaebeb;
}
.btn-breadcrumb .btn.btn-xam:hover:not(:last-child):before {
  /*border-left: 10px solid #269abc;*/
}

.btn-xamdam{
	color: #414141;
	background-color: #c1c3c4;
	
}

.btn-breadcrumb .btn.btn-xamdam:not(:last-child):after {
  border-left: 10px solid #c1c3c4;
}
.btn-breadcrumb .btn.btn-xamdam:not(:last-child):before {
  /*border-left: 10px solid #46b8da;*/
}
.btn-breadcrumb .btn.btn-xamdam:hover:not(:last-child):after {
  border-left: 10px solid #c1c3c4;
}
.btn-breadcrumb .btn.btn-xamdam:hover:not(:last-child):before {
  /*border-left: 10px solid #269abc;*/
}

.btn-null{
background: none;
}


/*css cho khối ảnh*/

.trangthuvien{
	background-color: #f9f9f9;
}

.anhthuvien{
	padding-top: 15px;
	padding-bottom: 15px;
}

/*css cho khối pagination*/

.pagination{
	margin-top: 30px;
	margin-bottom: 30px;
}

.page-item{
	display: inline-block;
	padding-left: 5px;
}

.page-link{
	border: 1px solid #c59c6c;
	color: #c69c6d;
	padding: 5px 10px;
	border-radius: 2px;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-radius: 2px;
}


.page-item.disabled-nau .page-link,
.page-item.disabled-nau .page-link:focus,
.page-item.disabled-nau .page-link:hover {
	pointer-events: none;
    cursor: not-allowed;

}

.page-item.active-nau .page-link,
.page-item.active-nau .page-link:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #c59c6c;
    border-color: #c59c6c;
}


.page-link:hover {
    color: white;
    background-color: #c59c6c;
    border-color: #c59c6c;
    text-decoration: none;
}

/*.page-item.active-nau .page-link:focus{
	color: white;
    background-color: red;
    border-color: #c59c6c;
    text-decoration: none;
}*/

.page-link:focus{
	background-color: white;
	color: #c59c6c;
	border-color: #c59c6c;
}